{{!-- main game --}}
<div class="align-center">
        <div class="alert progress">
            <div class="progress-meter" style="width: 75%"></div>
        </div>
    
</div>
        <div class="card" style="width: 90%; height: 24rem;">
           
            <div class="card-body">
                <h5 class="card-title">typing prompt goes here</h5>
                <p class="card-text">Render typing prompt</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card" style="width: 90%; height: 24rem;">
           
            <div class="card-body">
                <h5 class="card-title">Virtual keyboard</h5>
                <p class="card-text">Render virtual keyboard</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>