<table>
  <thead>
    <tr>
      <th width="200">User</th>
      <th>TOP 10 SCORES</th>
    </tr>
  </thead>
  <tbody>
    {{#each highscores}}
    <tr>
      <td> {{user}} </td>
      <td> {{score}} </td>
    </tr>
    {{/each}}

  </tbody>
</table>