<div class="card" id='modules' style="width: 90%; height: 52rem;">

  <div class="card-body">
    <h3>Top 10 Scores</h3>
    {{>scores}}
    
  </div>
</div>

<style>
 
  #modules{
    
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body{
    background-image: url('/assets/cloudbackground.jpg');
    background-size: cover;
  }
</style>
