
<a href='http://localhost:3001/game'>
<div class="card" id='clickme'style="width: 90%; height: 50rem;">
    <h1>Click anywhere to begin</h1>
</div>
</a>

<style>
        a{
           display: flex;
            justify-content: center;
            align-items: center; 
        }
         #clickme {
            background-color: rgb(135, 135, 192);
            display: flex;
            justify-content: center;
            align-items: center;
         }
</style>