I am logged in: {{ loggedIn }}
<label for="user">Username</label>
<input id="username" name="user" type="text" />
<label for="password">Password</label>
<input id="password" name="password" type="password" />
<button id="login">Log In</button>


<form class="form signup-form">
    <div class="form-group">
        <label for="name-signup">Username:</label>
        <input class="form-input" type="text" id="name-signup" />
    </div>
    <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit" id="signup">signup</button>
    </div>
</form>

<script>
    document.getElementById('login').addEventListener('click', function () {
        fetch('/users/login', {
            method: 'POST',
            body: JSON.stringify({
                username: document.getElementById('username').value,
                password: document.getElementById('password').value
            }),
            headers: {
                "Content-Type": 'application/json'
            }
        }).then(res => {
            alert('Yay I am logged in!')
        }).catch(err => {
            console.log(err)
        })
    });

    document.querySelector('.signup-form').addEventListener('submit', function (e) {
        e.preventDefault();
        const body = JSON.stringify({
            username: document.getElementById('name-signup').value,
            password: document.getElementById('password-signup').value
        });

        console.log("payload", body)

        fetch('/users/register', {
            method: 'POST',
            body,
            headers: {
                "Content-Type": 'application/json'
            }
        }).then(res => {
            console.log(res)
        }).catch(err => {
            console.log(err)
        })
    })
</script>