<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/css/foundation.min.css"
        crossorigin="anonymous">
    <title>TypeScripts</title>
</head>

<body>
    <header class="top-bar">
        <div class="top-bar-left">
            <ul class="menu">
                <li class="menu-text">TypeScripts</li>
                <li><a href="#">Type!</a></li>
                <li><a href="#">Highscores</a></li>
                <li><a href="#">Stats</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu ">
                    <li><button type=" button" class="button" id="login">Login</button></li>
                    <li><button type="button" class="button" id="signup">Sign up!</button></li>
                
            </ul>
        </div>
    </header>


    <main>
        {{{body}}}

    </main>
    
        <footer class="grid-x grid-padding-x align-spaced"> <!-- Aligned to the center -->
            <div class="cell small-4">Aligned to</div>
            
          </footer>
    


    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/js/foundation.min.js"
        crossorigin="anonymous"></script>
</body>

</html>