<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/css/foundation.min.css"crossorigin="anonymous">
    
    <link rel ='stylesheet' type="text/html" href="/public/javascripts/style.css">
    <link rel ='stylesheet' type="text/html" href="/public/stylesheets/style.css">
    <title>{{ title }}</title>
</head>

<body>
    
    <header class="top-bar">
        <div class="top-bar-left">
            <ul class="menu">
                <li class="menu-text"><a href="http://localhost:3001/">TypeScripts</a></li>
                <li><a href="http://localhost:3001/game">Type!</a></li>
                <li><a href="http://localhost:3001/highscores">Highscores</a></li>
                <li><a href="http://localhost:3001/about">About</a></li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu ">
                <li><a href="http://localhost:3001/login">Login</a>

            </ul>
        </div>
    </header>


    <main>

        {{{body}}}

        {{!-- game module --}}

    </main>

    <footer class="grid-x grid-padding-x align-spaced align-bottom">
        <!-- Aligned to the center -->
        <div class="">Typscripts, L.L.C</div>

    </footer>



   
        
</body>

</html>